*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    width: 100vw;
    background-color: #BB9981;
    background-image: url(images/fondoStars.gif);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
header{
    height: 9vh;
    width: 100%;
    background-color: #D82148;
    opacity: 0.95;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav{
    width: 95%;
    height: 100%;
}
ul{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
li{
    list-style: none;
    color: #fff;
    font-size: 1.2rem;
    padding: 3%;
}
li:hover{
    border-radius: 3px;
    color:#1a0413;
    background-color: #BB9981
}
#pageOne{
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
h1{
    font-size: 2.5rem;
    color:rgb(228, 217, 235);
    text-shadow:#1a0413  6px 4px 4px;
}
#containerGames{
    height: 80%;
    width: 75%;
    margin: 15px;
    display: flex;
    flex-direction: column;
}
div[id^="game"]{
    height: 30%;
    margin: 10px;
    border: 3px solid #fff;
    background-color: #151D3B;
    box-shadow: #D82148 4px 3px 3px;
    border-radius: 10px;
    opacity: 0.95;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: scale(0.98);
}
div[id^="game"]:hover{
    border: 3px solid #D82148;
    transform: scale(1);
}
div[id^="game"] img{
    height: 80%;
    width: 70%;
}
button[id^="option"]{
    width: 25%;
    height: 45px;
    margin: 8px;
    color: #fff;
    border: 2px solid #fff;
    box-shadow: #D82148 4px 3px 3px;
    border-radius: 10px;
    background-color: #151D3B ;
    opacity: 0.9;
    transform: scale(0.97);
}
button[id^="option"]:hover{
    transform: scale(1);
    border: 2px solid #D82148;
}
@media (min-width: 600px) {
    header{
        height: 10vh;
    }
    body{
        background-image: url(images/fondoStars.gif);
    }
    li{
        font-size: 1.5rem;
        padding: 1%;
    }
    #pageOne{
        padding: 50px;
    }
    h1{
        font-size: 3.5rem;
    }
    #containerGames{
        height: 100%;
        width: 90%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    div[id^="game"]{
        height: 50%;
        width: 30%;
        margin: 18px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    div[id^="game"]:hover{
        height: 52%;
        width: 32%;
    }
    div[id^="game"] img{
        height: 60%;
    }
    #selectLevel{
        width: 100%;
    }
    button[id^="option"]{
        width: 15%;
        height: 40px;
        margin: 8px;
    }
}
/*pagina 2*/
#pageTwo {
    height: 85%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.infoContainer{
    font-size: 1.2rem;
    color:rgb(228, 217, 235);
    text-shadow: #1a0413  6px 4px 4px;
    display: flex;
    justify-content: space-between;
    width: 80%;
}
#levelOne {
    height: 50%;
    width: 85%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
#levelOne div { /* .memorycard */
    width: 30%;
    height: 43%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border: 3px solid #D82148;
    border-radius: 10px;
}
[id^='level'] div img { /* front-card back-card */
    height: 100%;
    width: 100%;
    position: absolute;
    padding: 10px;
    border-radius: 8px;
}
#levelTwo {
    height: 100%;
    width: 85%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
#levelTwo div { /* .memorycard */
    width: 30%;
    height: 23%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border: 3px solid #D82148;
    border-radius: 10px;
}
#levelThree {
    height: 100%;
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
#levelThree div { /* .memorycard */
    width: 30%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border: 3px solid #D82148;
    border-radius: 10px;
}
@media (min-width: 768px) {
    .infoContainer{
        width: 40%;
        font-size: 1.5rem;
        margin-top: 10px;
    }
    #levelOne {
        height: 80%;
        width: 45%;
    }
    #levelOne div { /* .memorycard */
        width: 28%;
        height: 40%;
    }
    #levelTwo {
        height: 75%;
        width: 80%;
    }
    #levelTwo div { /* .memorycard */
        width: 15%;
        height: 40%;
    }
    #levelThree {
        height: 80%;
        width: 80%;
    }
    #levelThree div { /* .memorycard */
        width: 15%;
        height: 30%;
    }
    [id^='level'] div img { /* front-card back-card */
        padding: 15px;
    }
    #ms {
        width: 300px !important;
        transform: translate(170%,130%) !important;
    }
}
[id^='level']{ /* containers de los juegos */
    perspective: 1000px;
}
.memorycard{
    transform-style: preserve-3d;
    transition: transform .5s;
}
.memorycard.flipped{
    transform:rotateY(180deg);
}
.front-card, .back-card{
    backface-visibility: hidden;
}
.front-card{
    transform:rotateY(180deg);
}
#ms {
    height: 30%;
    width: 250px;
    transform: translate(40%,120%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#ms::backdrop {
    background-color: RGBA(0, 0, 0, 0.5);
}
#scoreboard{
    background-color: #D82148;
}