*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: auto;
    background-color: #151D3B;
}

/*PAGINA1*/
#pageOne{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1%;
}
#title{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #DADBBD;
    font-size: 4em;
}
p{ /*tecto para elegir el juego*/
    color: #DADBBD ;
    font-size: 1.5em;
    padding-bottom: 2%;
}
/*contendor de las opciones de juego*/
#memoryGameOptions{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10% 5% 5%;
}
#memoryGameOptions > div{ /*opciones de juego*/
    width: 30%;
    padding: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: 2px solid #D82148;
    border-radius: 10px;
}
#memoryGameOptions > div img{
    width: 80%;
    height: 35%;
}

/*PAGINA 2*/
#pageTwo{
    width: auto;
    height: 83%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.gameInfoContainer{
    display: flex;
    justify-content: space-between;
}
.gameInfo{
    color:#6EBF8B;
    font-size: 1.5em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0 60px;
}
#gameContainer{ /*contenedor de las todas las cartas*/
    width: 70%;
    height: 90%;
    border-radius: 5px;
    margin: auto;
    display: grid; 
    grid-template-columns: repeat(6, 15%);
    justify-content: center;
    align-items: center;
}
#gameContainer > div{ /*contenedor de cada carta*/
    width: 90%;
    height: 90%;
    position: relative;
}
.front-card, .back-card{ /*parte delantera y trasera de las cartas*/
    border: 2px solid #D82148;
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 30px 15px;
    border-radius: 10px;
    background: #DADBBD;
}