*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: auto;
    background-color: #151D3B;
}

/*PAGINA1*/
#pageOne{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2% 1% 1% ;
}
h1[id^="title"]{
    font-family: 'Courier New', monospace;
    color: #DADBBD;
    font-size: 4em;
}
#title1{
    padding-top: 2%;
}
p{ /*tecto para elegir el juego*/
    color: #DADBBD ;
    font-size: 1.5em;
    padding-bottom: 2%;
    font-family: 'Courier New', monospace;
}
/*contendor de las opciones de juego*/
#memoryGameOptions{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 7% 5% 5%;
}
#memoryGameOptions > div{ /*opciones de juego*/
    width: 30%;
    padding: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: 2px solid #D82148;
    border-radius: 10px;
    transition: width 100ms ease-in-out, height 100ms ease-in-out;
}

#memoryGameOptions > div:hover{
    border: 2.5px solid #DADBBD;
    background-color: #D82148;
    width: 31%;
    font-weight: bold;
}

#memoryGameOptions > div img{
    width: 80%;
    height: 35%;
}

@media only screen and (min-width: 360px) and (max-width: 768px) {
    #pageOne{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2% ;
    }
    #memoryGameOptions{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    #memoryGameOptions > div{ /*opciones de juego*/
        width: 80%;
        padding: 2%;
        margin: 5%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        border: 2px solid #D82148;
        border-radius: 10px;
        transition: width 100ms ease-in-out, height 100ms ease-in-out;
    }
    /*#memoryGameOptions > div:hover{
        border: 2.5px solid #DADBBD;
        background-color: #D82148;
        width: 82%;
        font-weight: bold;
    }*/
    #memoryGameOptions > div img{
        width: 80%;
        height: 40%;
    }
  } 

/*PAGINA 2*/
#pageTwo{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2%;
}
#title2{
    padding-right: 2.5%;
}
.gameInfoContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.gameInfo{
    color:#6EBF8B;
    font-size: 1.5em;
    padding: 2%;
    margin: 0 8%;
    font-family: 'Courier New', monospace;
}
#containerGamePokemon{ /*contenedor de las todas las cartas*/
    width: 70%;
    height: 80%;
    margin: auto;
    display: grid; 
    grid-template-columns: repeat(6, 15%);
    justify-content: center;
    align-items: center;
}
#containerGameWebDev{ /*contenedor de las todas las cartas*/
    width: 70%;
    height: 80%;
    margin: auto;
    display: grid; 
    grid-template-columns: repeat(5, 15%);
    justify-content: center;
    align-items: center;
}
#containerGameGhibli{ /*contenedor de las todas las cartas*/
    width: 70%;
    height: 80%;
    margin: auto;
    display: grid; 
    grid-template-columns: repeat(4, 15%);
    justify-content: center;
    align-items: center;
}
div[id^="container"] > div{ /*contenedor de cada carta*/
    width: 85%;
    height: 90%;
    position: relative;
}
.front-card, .back-card{ /*parte delantera y trasera de las cartas*/
    border: 2px solid #D82148;
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 25% 20%;
    border-radius: 10px;
    background: #DADBBD;
}